body {
  margin: 0;
  overflow: hidden;
}

.editor {
  width: 50vw;
  position: relative;
}

.editor .CodeMirror {
  height: 100vh;
}

.viewport {
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

.gh-link {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}
