body {
  margin: 0;
  overflow: hidden;
}

.editor {
  width: 50vw;
  position: relative;
}

.editor .CodeMirror {
  height: 100vh;
}

.viewport {
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

.toolbar {
  position: absolute;
  top: 0;
  right: 0;
  font-family: sans-serif;
  padding: 0 0 0 10px;
  text-align: right;
}

.toolbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  border-radius: 0;
  border: none;
  background-color: #fff;
  padding: 10px 12px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background: #ccc;
}

.gh-link {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}
